@charset "utf-8";

.nav {
	text-align: center;
}

.nav li {
	display: inline-block;
	background: #666;
	color: #fff;
	text-align: center;
	width: 200px;
}

.nav li.off {
}

.nav li.on {
	background: #ccc;
	color: #333;
}

.content {
	height: 200px;
	position: relative;
}

[class*=content] section {
	height: 200px;
	background: #999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

[class*=content] section.off {
	/*display: none;*/
}

[class*=content] section.on {
	/*display: block;*/
}