@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body > h1 {
	margin: 0 auto;
	padding: 0.3em;
	font-size: 30px;
	background: #333;
	color: #fff;
}

body > h2 {
	margin: 1.5em auto 0.5em;
	width: 900px;
	font-size: 30px;
	background: #ccc;
}

.nav {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}

.nav li {
	display: inline-block;
	background: #666;
	color: #fff;
	text-align: center;
	width: 15.9%;
}

.nav li.off {
}

.nav li.on {
	background: #ccc;
	color: #333;
}


[class*=_assist] {
	margin: 0.5em auto;
	width: 600px;
	height: 1em;
}

[class*=_assist] > * {
	list-style-type: none;
}

[class*=_assist] .prev {
	float: left;
}
[class*=_assist] .next {
	float: right;
}

[class*=main]:not(ul) {
	margin: 0 auto;
	width: 200px;
	height: 130px;
	position: relative;
}

[class*=main]:not(ul) h2 {
	font-size: 80px;
	line-height: 130px;
	text-align: center;
}

[class*=main]:not(ul) a {
	text-decoration: none;
	color: #fff;
}

[class*=main] section {
	height: 130px;
	background: #999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

[class*=main] section:nth-child(1) {
	background: red;
}
[class*=main] section:nth-child(2) {
	background: orange;
}
[class*=main] section:nth-child(4) {
	background: blue;
}
[class*=main] section:nth-child(5) {
	background: yellow;
}
[class*=main] section:nth-child(6) {
	background: purple;
}

[class*=main] section.off {
	/*display: none;*/
}

[class*=main] section.on {
	/*display: block;*/
	z-index: 1;
}