@charset "utf-8";

.nav {
	margin: 0 auto;
	width: 600px;
	text-align: center;
}

.nav li {
	display: inline-block;
	background: #666;
	color: #fff;
	text-align: center;
	width: 10%;
}

.nav li.off {
}

.nav li.on {
	background: #ccc;
	color: #333;
}

.content {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	position: relative;
}

.content h2 {
	font-size: 80px;
	line-height: 100px;
	text-align: center;
}

.content a {
	text-decoration: none;
	color: #fff;
}

[class*=content] section {
	height: 100px;
	background: #999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

[class*=content] section:nth-child(1) {
	background: red;
}
[class*=content] section:nth-child(2) {
	background: orange;
}
[class*=content] section:nth-child(4) {
	background: blue;
}
[class*=content] section:nth-child(5) {
	background: yellow;
}
[class*=content] section:nth-child(6) {
	background: purple;
}

[class*=content] section.off {
	/*display: none;*/
	opacity: 0.2;
}

[class*=content] section.on {
	/*display: block;*/
	z-index: 1;
}