@charset "utf-8";
/*
date : 2012-2

+ Text
+ List
+ Anchor
+ Table
+ Form
+ Others
*/
/* Don't Edit */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

body {
  text-align: center;
}

/*----------------------------------------
	HTML5
----------------------------------------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*----------------------------------------
	Text
----------------------------------------*/
p,
pre,
address {
  color: #550000;
  font-size: 16px;
  font-size: 1.6rem;
}

h1 {
  font-size: 18px;
  font-size: 1.8rem;
}

h2 {
  font-size: 18px;
  font-size: 1.8rem;
}

h3 {
  font-size: 16px;
  font-size: 1.6rem;
}

h4 {
  font-size: 14px;
  font-size: 1.4rem;
}

h5 {
  font-size: 12px;
  font-size: 1.2rem;
}

h6 {
  font-size: 12px;
  font-size: 1.2rem;
}

pre {
  overflow: scroll;
  font-family: "ＭＳ-Ｐ ゴシック" , Osaka, Arial, Helvetica, sans-serif;
}

abbr,
acronym {
  border-bottom: 1px dotted #aaa;
  cursor: help;
}

/*----------------------------------------
	List
----------------------------------------*/
ul,
ol,
dl {
  color: #550000;
}

li,
dt,
dd {
  list-style-type: none;
  list-style-position: outside;
  font-size: 16px;
  font-size: 1.6rem;
}

ol li {
  list-style: decimal;
}

/* Opera Hack */
html:first-child li,
html:first-child dt,
html:first-child dd {
  font-size: 1em;
}

dt {
  font-weight: bold;
}

li li,
li p,
li pre,
li dt,
li dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {
  font-size: 100% !important;
}

/*----------------------------------------
	Anchor
----------------------------------------*/
a {
  color: #3399cc;
}
a:hover {
  color: #ff3399;
}
a:visited {
  color: rgba(51, 153, 204, 0.7);
}
a:active {
  color: #3399cc;
}

/*----------------------------------------
	Table
----------------------------------------*/
table {
  border: 1px solid #aaa;
  background-color: #eee;
}

caption {
  display: none;
}

th,
td {
  font-size: 100%;
}

th {
  color: #ffffff;
  background-color: #ccc;
}

td {
  border: 1px solid #ddd;
  background-color: #ffffff;
}

/*----------------------------------------
	Form
----------------------------------------*/
form {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset,
legend {
  border: none;
}

legend {
  display: none;
}

input,
textarea {
  padding: 0.2em;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  line-height: 1.2;
}

input:hover,
textarea:hover {
  border: 1px solid #a5d2da;
}

input:focus,
textarea:focus {
  border: 1px solid #069;
  background-color: #fff;
}

/*----------------------------------------
	Others
----------------------------------------*/
img {
  border: none;
  vertical-align: bottom;
}

hr {
  border: none;
  border-top: 1px dotted #ccc;
}
